pkgbase = signal-desktop-beta-bin
	pkgdesc = Private messaging from your desktop
	pkgver = 7.12.0beta.3
	pkgrel = 1
	url = https://signal.org
	install = signal-desktop-beta-bin.install
	arch = x86_64
	license = GPL3
	depends = libnotify
	depends = libxtst
	depends = nss
	depends = xdg-utils
	depends = libxss
	provides = signal-desktop-beta
	options = !strip
	options = !emptydirs
	source = https://updates.signal.org/desktop/apt/pool/s/signal-desktop-beta/signal-desktop-beta_7.12.0-beta.3_amd64.deb
	sha256sums = 98b391f00c1f0b099ddde92cb485b81aa52d09b62b8f77ee82e136743c979f89

pkgname = signal-desktop-beta-bin
